extends ./layouts/default
block title 
  title koa 首页
block content
    .container
      .row
        .col-md-8
          h1 hi #{you}
          p this is #{me}
        .col-md-4
          p 测试静态html页面
